
{% extends "layout.html" %}

{% block css %}
<style> hr{ border-top: 1px solid white;}
      .navbar-inverse, .navbar {
{#    background: #000000;  /* fallback for old browsers */#}
{#background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */#}
{#background:  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

*/#}
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, cursive;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    font-size: 22px;
    background-image: linear-gradient(to right, #676969, #222323) !important;
}

.navbar-text, .dropdown-menu > li > a, .navbar-nav > li > a {
    color: white !important;
}

.navbar-nav > li > a {
{#    border-right: 1px solid black;#}
    border-left: 1px solid transparent;
}
.navbar {
    height: 52px;
}
    .bordered{ border: 1px solid slategrey; border-radius: 40px;  }


body {
background-color: #ecf0f1 !important;
font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, cursive;
font-stretch: semi-expanded;
}

.panel-footer {
background-color: #215A6D !important;
}

.panel-body {
    background-color: #2D2D29 !important;
}

.jumbotron {
        background-color: #1f5566 !important;
}

.btn {
    background-image: linear-gradient(to right, #517c7e, #2d3b54); !important;
}

</style>

{% endblock %}

{% block content %}
    <div class="jumbotron">
<div class="body-content">
    <div class="row bordered">
        <div class="col-lg-12">
          <h2><i class="fa fa-user"></i> Care-receiver</h2>
          <p>Here you need to add some details about the person you are monitoring before proceeding.</p>
          <p>
              {% if carereceiver == None %}
                <a class="btn btn-default" href="{{ url_for('user.connect_cr') }}">Register someone &raquo;</a>
              {% else %}
                  Current care receiver is <strong>{{ carereceiver.full_name }}</strong>. <br /><br />
                <a class="btn btn-default" href="{{ url_for('user.disconnect_cr') }}">Unregister &raquo;</a>
              {% endif %}
          </p>
        </div>
    </div>
<br />
    {% if carereceiver != None %}
    <div class="row">

        <div class="col-xs-5 bordered">
          <h2><i class="fa fa-spinner"></i> Movement sensor</h2>
          <p>Register a movement sensor to your connected care-receiver or disconnect it.</p>
          <p>
              {% if movement_sensor == None %}
                <a class="btn btn-default" href="{{ url_for('user.connect_move') }}">Connect &raquo;</a>
              {% else %}
                <a class="btn btn-default" href="{{ url_for('user.disconnect_move') }}">Disconnect &raquo;</a>
              {% endif %}
          </p>
        </div>

        <div class="col-xs-5 pull-right bordered">
          <h2><i class="fa fa-heart-o"></i> Heart rate sensor</h2>
          <p>Register a heart rate sensor to your connected care-receiver or disconnect it.</p>
          <p>
              {% if hr_sensor == None %}
              <a href="{{ url_for('user.connect_hr') }}" class="btn btn-default">Connect &raquo;</a>
              {% else %}
              <a href="{{ url_for('user.disconnect_hr') }}" class="btn btn-default">Disconnect &raquo;</a>
              {% endif %}
            </p>
       </div>

    </div>
    {% endif %}

</div>
    </div>
{% endblock %}

